:root {
  --clr-accent: #a306b6;
  --clr-neutral-light: #f1f1f1;
  --clr-neutral-dark: #0e1111;
  --clr-neutral-med: #d9d9d9;
  --font-head: "Montserrat", sans-serif;
  --font-body: "Source Sans 3", sans-serif;

  --size-05: 0.5rem;
  --size-075: 0.75rem;
  --size-09: 0.9rem;
  --size-1: 1rem;
  --size-11: 1.1rem;
  --size-12: 1.2rem;
  --size-15: 1.5rem;
  --size-2: 2rem;
  --size-3: 3rem;
  --size-5: 5rem;

  --weight-xs: 300;
  --weight-s: 400;
  --weight-m: 600;
  --weight-l: 800;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-height: 100vh;
  font-family: var(--font-body);
}

.welcome__container {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--clr-accent);
  padding: var(--size-1);
  min-height: 50svh;
  min-height: 50vh;
  color: var(--clr-neutral-light);

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--size-3);
  }

  .welcome__logo {
    max-width: 20%;
    height: auto;
    margin-bottom: var(--size-1);
  }

  menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-2);
    font-weight: var(--weight-l);
    font-size: var(--size-12);

    a {
      text-decoration: none;
      color: var(--clr-neutral-light);
    }
  }

  .welcome__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    .welcome__avatar {
      max-width: 40%;
      margin-bottom: var(--size-1);
      border: 3px solid var(--clr-neutral-light);
      border-radius: 5rem;
    }

    h1 {
      text-align: center;
      font-family: var(--font-head);
      max-width: 15ch;
    }
  }
}

/* End of Header */

.articles__section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: var(--size-1) 0;

  h2 {
    font-size: var(--size-15);
    color: var(--clr-accent);
    margin-bottom: var(--size-1);
  }

  .articles__container {
    display: flex;
    flex-flow: column wrap;
    gap: var(--size-1);

    article {
      padding: var(--size-1);
      background-color: var(--clr-neutral-med);
      max-width: calc(100vw - 2rem);
      height: auto;
      border-radius: var(--size-05);

      display: grid;
      justify-items: center;

      .article__title {
        font-size: var(--size-2);
        font-weight: var(--weight-m);
      }

      .articles__img2 {
        max-width: 70%;
      }
    }
  }
}

/* End or articles section */

.about__section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  h2 {
    color: var(--clr-accent);
    font-size: var(--size-15);
    margin: var(--size-1) 0 var(--size-2) 0;
  }

  .about__content {
    max-width: calc(100vw - var(--size-2));

    p {
      margin-bottom: var(--size-1);
    }

    margin-bottom: var(--size-3);
  }
}

footer {
  padding: var(--size-1);
  background-color: var(--clr-neutral-med);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  p {
    a {
      color: var(--clr-accent);
    }
  }
}

.cta {
  background-color: var(--clr-accent);
  color: var(--clr-neutral-light);
  padding: var(--size-05) var(--size-2);
  border-radius: var(--size-2);
  font-weight: var(--weight-l);

  &:hover {
    transform: translateY(-5px);
    transition: 200ms ease-in-out;
  }
}
